In [54]:

import pandas as pd

I'm working with the Metropolitan Museum of Art dataset, except the full object dataset is not available via an API request so I had to download the txt file from github. 
Feature 1: Read 2 types of data into the analysis. This is dataset 1.

In [68]:
met_df = pd.read_csv('MetObjects.txt', sep=',', low_memory=False)
met_df.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

Let's see how much data I have in this 1st dataset from the Met.

In [69]:
met_df.describe()

           Object ID  Object Begin Date  Object End Date  Metadata Date
count  477804.000000      477804.000000    477804.000000            0.0
mean   387582.167811        1294.064014      1395.139137            NaN
std    237374.736434        1776.237922      1154.075159            NaN
min         1.000000     -400000.000000   -240000.000000            NaN
25%    210119.750000        1529.000000      1582.000000            NaN
50%    371186.500000        1800.000000      1836.000000            NaN
75%    563883.250000        1890.000000      1905.000000            NaN
max    860873.000000        5000.000000     15335.000000            NaN

Let's pull in the Cleveland Museum of Art dataset next and see how much info is there. It's another csv download via github since they don't offer the full dataset via API request. 
Feature 1: Read 2 types of data, this is dataset 2. So check off that box.

In [70]:
cle_df = pd.read_csv('cleveland_data.txt', sep=',', low_memory=False)
cle_df.head()

,id,accession_number,share_license_status,tombstone,current_location,title,title_in_original_language,series,series_in_original_language,creation_date,...,url,alternate_images,creditline,sketchfab_id,sketchfab_url,creators,image_web,image_print,image_full,updated_at
0,74228,2020.113,CC0,"Fishmarket, 1902. Camille Pissarro (French, 18...",NaN,Fishmarket,NaN,NaN,NaN,1902,...,https://clevelandart.org/art/2020.113,[],Nancy F. and Joseph P. Keithley Collection Gift,NaN,NaN,"Camille Pissarro (French, 1830–1903), artist",https://openaccess-cdn.clevelandart.org/2020.1...,https://openaccess-cdn.clevelandart.org/2020.1...,https://openaccess-cdn.clevelandart.org/2020.1...,2023-02-06 16:16:12.787000
1,74539,2015.449,CC0,"A Miller's Carriage, c. 1895. Albert-Charles L...",NaN,A Miller's Carriage,NaN,NaN,NaN,c. 1895,...,https://clevelandart.org/art/2015.449,[],Bequest of Muriel Butkin,NaN,NaN,"Albert-Charles Lebourg (French, 1849–1928), ar...",https://openaccess-cdn.clevelandart.org/2015.4...,https://openaccess-cdn.clevelandart.org/2015.4...,https://openaccess-cdn.clevelandart.org/2015.4...,2023-02-06 16:16:34.553000
2,74540,2015.451,CC0,"Leda and the Swan. Adolphe Yvon (French, 1817–...",NaN,Leda and the Swan,NaN,NaN,NaN,NaN,...,https://clevelandart.org/art/2015.451,[],Bequest of Muriel Butkin,NaN,NaN,"Adolphe Yvon (French, 1817–1893), artist",https://openaccess-cdn.clevelandart.org/2015.4...,https://openaccess-cdn.clevelandart.org/2015.4...,https://openaccess-cdn.clevelandart.org/2015.4...,2023-02-06 16:16:35.180000
3,74551,2018.1059,CC0,"The Monks, c. 1802–30. François Marius Granet ...",NaN,The Monks,NaN,NaN,NaN,c. 1802–30,...,https://clevelandart.org/art/2018.1059,[],Bequest of Muriel Butkin,NaN,NaN,"François Marius Granet (French, 1775–1849), ar...",https://openaccess-cdn.clevelandart.org/2018.1...,https://openaccess-cdn.clevelandart.org/2018.1...,https://openaccess-cdn.clevelandart.org/2018.1...,2023-02-06 16:16:35.711000
4,74553,2018.1060,CC0,"Study Sheet, c. 1870–80. Alfred Dehodencq (Fre...",NaN,Study Sheet,NaN,NaN,NaN,c. 1870–80,...,https://clevelandart.org/art/2018.1060,[],Bequest of Muriel Butkin,NaN,NaN,"Alfred Dehodencq (French, 1822–1882), artist",https://openaccess-cdn.clevelandart.org/2018.1...,https://openaccess-cdn.clevelandart.org/2018.1...,https://openaccess-cdn.clevelandart.org/2018.1...,2023-02-06 16:16:36.216000

In [47]:
concat = pd.concat([art_df, costume_df])
concat.describe()

              total      objectIDs
count  38734.000000   38734.000000
mean   27083.766923  203691.828445
std     9481.795944  171207.351297
min     7142.000000   26491.000000
25%    31592.000000   99503.250000
50%    31592.000000  122324.000000
75%    31592.000000  174244.750000
max    31592.000000  894667.000000

Let's pull a random object and see what we get here.

In [48]:
object_r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/objects/79523')
object_data=object_r.json()
print(object_data)

{'objectID': 79523, 'isHighlight': False, 'accessionNumber': '1997.116.26a, b', 'accessionYear': '1997', 'isPublicDomain': False, 'primaryImage': '', 'primaryImageSmall': '', 'additionalImages': [], 'constituents': [{'constituentID': 161959, 'role': 'Designer', 'name': 'Madame Grès (Germaine Émilie Krebs)', 'constituentULAN_URL': 'http://vocab.getty.edu/page/ulan/500091379', 'constituentWikidata_URL': 'https://www.wikidata.org/wiki/Q467847', 'gender': 'Female'}], 'department': 'Costume Institute', 'objectName': 'Evening ensemble', 'title': 'Evening ensemble', 'culture': 'French', 'period': '', 'dynasty': '', 'reign': '', 'portfolio': '', 'artistRole': 'Designer', 'artistPrefix': '', 'artistDisplayName': 'Madame Grès (Germaine Émilie Krebs)', 'artistDisplayBio': 'French, Paris 1903–1993 Var region', 'artistSuffix': '', 'artistAlphaSort': 'Grès, Madame', 'artistNationality': 'French', 'artistBeginDate': '1903', 'artistEndDate': '1993', 'artistGender': 'Female', 'artistWikidata_URL': 'https://www.wikidata.org/wiki/Q467847', 'artistULAN_URL': 'http://vocab.getty.edu/page/ulan/500091379', 'objectDate': 'late 1960s–mid-1980s', 'objectBeginDate': 1965, 'objectEndDate': 1987, 'medium': 'silk', 'dimensions': '', 'measurements': None, 'creditLine': 'Gift of Chessy Rayner, 1997', 'geographyType': '', 'city': '', 'state': '', 'county': '', 'country': '', 'region': '', 'subregion': '', 'locale': '', 'locus': '', 'excavation': '', 'river': '', 'classification': '', 'rightsAndReproduction': '', 'linkResource': '', 'metadataDate': '2022-04-01T05:09:00.833Z', 'repository': 'Metropolitan Museum of Art, New York, NY', 'objectURL': 'https://www.metmuseum.org/art/collection/search/79523', 'tags': None, 'objectWikidata_URL': '', 'isTimelineWork': False, 'GalleryNumber': ''}

I want to pull more data. What items can I find with 'french' somewhere in the objectID info?

In [49]:
object_french = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=french')
french=object_french.json()
french_df = pd.DataFrame(french)
french_df.describe()

         total      objectIDs
count  74623.0   74623.000000
mean   74623.0  400416.107514
std        0.0  220564.070409
min    74623.0      37.000000
25%    74623.0  218799.500000
50%    74623.0  377437.000000
75%    74623.0  492387.500000
max    74623.0  898216.000000

In [50]:
french_df.head()

   total  objectIDs
0  74623     459251
1  74623     459199
2  74623     288118
3  74623     460732
4  74623     459364

How about 'jewelry'?

In [51]:
object_jewelry = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=jewelry')
jewelry=object_jewelry.json()
jewelry_df = pd.DataFrame(jewelry)
jewelry_df.describe()

         total      objectIDs
count  13084.0   13084.000000
mean   13084.0  384090.496408
std        0.0  243975.709711
min    13084.0     945.000000
25%    13084.0  145043.750000
50%    13084.0  444647.500000
75%    13084.0  549647.750000
max    13084.0  897785.000000