In [10]:
import requests
import pandas as pd
import json

I'm working with the Metropolitan Museum of Art API and I want to see what departments are available to lookup/use datasets from. And I need to save the json file as a variable.

In [11]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/departments')
dept_data = r.json()

Let's create a Pandas dataframe and see what I have to work with here.

In [12]:
df = pd.DataFrame(dept_data)
df.describe()

                                              departments
count                                                  19
unique                                                 19
top     {'departmentId': 1, 'displayName': 'American D...
freq                                                    1

There are 19 departments to work with here. Might as well get the full list.

In [13]:
print(df)

                                          departments
0   {'departmentId': 1, 'displayName': 'American D...
1   {'departmentId': 3, 'displayName': 'Ancient Ne...
2   {'departmentId': 4, 'displayName': 'Arms and A...
3   {'departmentId': 5, 'displayName': 'Arts of Af...
4     {'departmentId': 6, 'displayName': 'Asian Art'}
5   {'departmentId': 7, 'displayName': 'The Cloist...
6   {'departmentId': 8, 'displayName': 'The Costum...
7   {'departmentId': 9, 'displayName': 'Drawings a...
8   {'departmentId': 10, 'displayName': 'Egyptian ...
9   {'departmentId': 11, 'displayName': 'European ...
10  {'departmentId': 12, 'displayName': 'European ...
11  {'departmentId': 13, 'displayName': 'Greek and...
12  {'departmentId': 14, 'displayName': 'Islamic A...
13  {'departmentId': 15, 'displayName': 'The Rober...
14  {'departmentId': 16, 'displayName': 'The Libra...
15  {'departmentId': 17, 'displayName': 'Medieval ...
16  {'departmentId': 18, 'displayName': 'Musical I...
17  {'departmentId': 19, 'displayName': 'Photograp...
18  {'departmentId': 21, 'displayName': 'Modern Art'}

Now I want to pull all the objects from the Medieval Art Department, #17, and save the json file as another variable. 
Feature 1: Read 2 types of data into the analysis. API request pulling JSON Medieval Art department data = 1st data pull.

In [14]:
r2 = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/objects?departmentIds=17')
art_data=r2.json()

In [16]:
art_df = pd.DataFrame(art_data)
art_df.describe()

        total      objectIDs
count  7142.0    7142.000000
mean   7142.0  482901.982778
std       0.0   65142.674983
min    7142.0   26491.000000
25%    7142.0  465135.250000
50%    7142.0  467562.500000
75%    7142.0  474928.500000
max    7142.0  855233.000000

And I need to pull another dataset/API so let's try Dept. #8, The Costume Institute. 
Feature 1, part 2: 2nd API dataset request here.

In [23]:
r3 = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/objects?departmentIds=8')
costume_data=r3.json()

In [18]:
costume_df = pd.DataFrame(costume_data)
costume_df.describe()

         total      objectIDs
count  31592.0   31592.000000
mean   31592.0  140570.819258
std        0.0  115630.905558
min    31592.0   78923.000000
25%    31592.0   96036.750000
50%    31592.0  114598.500000
75%    31592.0  157273.250000
max    31592.0  894667.000000

In [24]:
costume_df.head()

   total  objectIDs
0  31592      79521
1  31592      79522
2  31592      79523
3  31592      79524
4  31592      79525

Now I have both department datasets saved as Pandas Dataframes. What next? Pandas concatenate?

Feature 2: Pandas merge (concatenate technically here). Making one giant dataset to work with.

In [20]:
concat = pd.concat([art_df, costume_df])
concat.describe()

              total      objectIDs
count  38734.000000   38734.000000
mean   27083.766923  203691.828445
std     9481.795944  171207.351297
min     7142.000000   26491.000000
25%    31592.000000   99503.250000
50%    31592.000000  122324.000000
75%    31592.000000  174244.750000
max    31592.000000  894667.000000