In [242]:

import pandas as pd
from bokeh.plotting import figure
from bokeh.models import ColumnDataSource

I'm working with the Metropolitan Museum of Art dataset, except the full object dataset is not available via an API request so I had to download the txt file from github. 
Feature 1: Read 2 types of data into the analysis. This is dataset 1.

In [243]:
met_df = pd.read_csv('MetObjects.txt', sep=',', low_memory=False)
met_df.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

Let's see how much data I have in this 1st dataset from the Met. There are 54 columns in this dataset. That seems like a lot.

In [244]:
met_df.describe()

           Object ID  Object Begin Date  Object End Date  Metadata Date
count  477804.000000      477804.000000    477804.000000            0.0
mean   387582.167811        1294.064014      1395.139137            NaN
std    237374.736434        1776.237922      1154.075159            NaN
min         1.000000     -400000.000000   -240000.000000            NaN
25%    210119.750000        1529.000000      1582.000000            NaN
50%    371186.500000        1800.000000      1836.000000            NaN
75%    563883.250000        1890.000000      1905.000000            NaN
max    860873.000000        5000.000000     15335.000000            NaN

I want to drop a bunch of columsn from this df that I'm not really interested in using, but I don't know what all the columns are. Let's create a list showing them.

In [245]:
met_df.columns.tolist()

['Object Number',
 'Is Highlight',
 'Is Timeline Work',
 'Is Public Domain',
 'Object ID',
 'Gallery Number',
 'Department',
 'AccessionYear',
 'Object Name',
 'Title',
 'Culture',
 'Period',
 'Dynasty',
 'Reign',
 'Portfolio',
 'Constituent ID',
 'Artist Role',
 'Artist Prefix',
 'Artist Display Name',
 'Artist Display Bio',
 'Artist Suffix',
 'Artist Alpha Sort',
 'Artist Nationality',
 'Artist Begin Date',
 'Artist End Date',
 'Artist Gender',
 'Artist ULAN URL',
 'Artist Wikidata URL',
 'Object Date',
 'Object Begin Date',
 'Object End Date',
 'Medium',
 'Dimensions',
 'Credit Line',
 'Geography Type',
 'City',
 'State',
 'County',
 'Country',
 'Region',
 'Subregion',
 'Locale',
 'Locus',
 'Excavation',
 'River',
 'Classification',
 'Rights and Reproduction',
 'Link Resource',
 'Object Wikidata URL',
 'Metadata Date',
 'Repository',
 'Tags',
 'Tags AAT URL',
 'Tags Wikidata URL']

There are a lot of column I probably don't need, so I will drop some of them. Is it easier to drop columns or create a new df using only the columns I want to keep? I'm going to go with the second option, I want to type less stuff. Why use more word when less word do trick?

In [246]:
met_df_small = met_df[['Object Number', 'Object ID', 'Department', 'AccessionYear', 'Object Name', 'Title', 'Culture', 'Object Date', 'Medium', 'Credit Line', 'Classification', 'Repository']]

In [247]:
met_df_small.head()

,Object Number,Object ID,Department,AccessionYear,Object Name,Title,Culture,Object Date,Medium,Credit Line,Classification,Repository
0,1979.486.1,1,The American Wing,1979,Coin,One-dollar Liberty Head Coin,NaN,1853,Gold,"Gift of Heinz L. Stoppelmann, 1979",NaN,"Metropolitan Museum of Art, New York, NY"
1,1980.264.5,2,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,NaN,1901,Gold,"Gift of Heinz L. Stoppelmann, 1980",NaN,"Metropolitan Museum of Art, New York, NY"
2,67.265.9,3,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,1909â€“27,Gold,"Gift of C. Ruxton Love Jr., 1967",NaN,"Metropolitan Museum of Art, New York, NY"
3,67.265.10,4,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,1909â€“27,Gold,"Gift of C. Ruxton Love Jr., 1967",NaN,"Metropolitan Museum of Art, New York, NY"
4,67.265.11,5,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,1909â€“27,Gold,"Gift of C. Ruxton Love Jr., 1967",NaN,"Metropolitan Museum of Art, New York, NY"

Let's pull in the Cleveland Museum of Art dataset next and see how much info is there. It's another csv download via github since they don't offer the full dataset via API request. 
Feature 1: Read 2 types of data, this is dataset 2. So check off that box.

In [248]:
cle_df = pd.read_csv('cleveland_data.txt', sep=',', low_memory=False)
cle_df.head()

,id,accession_number,share_license_status,tombstone,current_location,title,title_in_original_language,series,series_in_original_language,creation_date,...,url,alternate_images,creditline,sketchfab_id,sketchfab_url,creators,image_web,image_print,image_full,updated_at
0,74228,2020.113,CC0,"Fishmarket, 1902. Camille Pissarro (French, 18...",NaN,Fishmarket,NaN,NaN,NaN,1902,...,https://clevelandart.org/art/2020.113,[],Nancy F. and Joseph P. Keithley Collection Gift,NaN,NaN,"Camille Pissarro (French, 1830â€“1903), artist",https://openaccess-cdn.clevelandart.org/2020.1...,https://openaccess-cdn.clevelandart.org/2020.1...,https://openaccess-cdn.clevelandart.org/2020.1...,2023-02-06 16:16:12.787000
1,74539,2015.449,CC0,"A Miller's Carriage, c. 1895. Albert-Charles L...",NaN,A Miller's Carriage,NaN,NaN,NaN,c. 1895,...,https://clevelandart.org/art/2015.449,[],Bequest of Muriel Butkin,NaN,NaN,"Albert-Charles Lebourg (French, 1849â€“1928), ar...",https://openaccess-cdn.clevelandart.org/2015.4...,https://openaccess-cdn.clevelandart.org/2015.4...,https://openaccess-cdn.clevelandart.org/2015.4...,2023-02-06 16:16:34.553000
2,74540,2015.451,CC0,"Leda and the Swan. Adolphe Yvon (French, 1817â€“...",NaN,Leda and the Swan,NaN,NaN,NaN,NaN,...,https://clevelandart.org/art/2015.451,[],Bequest of Muriel Butkin,NaN,NaN,"Adolphe Yvon (French, 1817â€“1893), artist",https://openaccess-cdn.clevelandart.org/2015.4...,https://openaccess-cdn.clevelandart.org/2015.4...,https://openaccess-cdn.clevelandart.org/2015.4...,2023-02-06 16:16:35.180000
3,74551,2018.1059,CC0,"The Monks, c. 1802â€“30. FranÃ§ois Marius Granet ...",NaN,The Monks,NaN,NaN,NaN,c. 1802â€“30,...,https://clevelandart.org/art/2018.1059,[],Bequest of Muriel Butkin,NaN,NaN,"FranÃ§ois Marius Granet (French, 1775â€“1849), ar...",https://openaccess-cdn.clevelandart.org/2018.1...,https://openaccess-cdn.clevelandart.org/2018.1...,https://openaccess-cdn.clevelandart.org/2018.1...,2023-02-06 16:16:35.711000
4,74553,2018.1060,CC0,"Study Sheet, c. 1870â€“80. Alfred Dehodencq (Fre...",NaN,Study Sheet,NaN,NaN,NaN,c. 1870â€“80,...,https://clevelandart.org/art/2018.1060,[],Bequest of Muriel Butkin,NaN,NaN,"Alfred Dehodencq (French, 1822â€“1882), artist",https://openaccess-cdn.clevelandart.org/2018.1...,https://openaccess-cdn.clevelandart.org/2018.1...,https://openaccess-cdn.clevelandart.org/2018.1...,2023-02-06 16:16:36.216000

Let's see how much data is here.

In [249]:
cle_df.describe()

                  id  creation_date_earliest  creation_date_latest
count   65031.000000            60583.000000          60466.000000
mean   153644.245222             1644.458743           1689.132058
std     70943.881241             1552.579267            569.929022
min     74228.000000          -350000.000000         -30000.000000
25%    117145.000000             1605.000000           1652.000000
50%    140169.000000             1865.000000           1891.000000
75%    161476.500000             1936.000000           1940.000000
max    539460.000000             2022.000000           2022.000000

I don't know what columns I have that I can compare to the Met data. Let's get another columns list.

In [250]:
cle_df.columns.tolist()

['id',
 'accession_number',
 'share_license_status',
 'tombstone',
 'current_location',
 'title',
 'title_in_original_language',
 'series',
 'series_in_original_language',
 'creation_date',
 'creation_date_earliest',
 'creation_date_latest',
 'artists_tags',
 'culture',
 'technique',
 'support_materials',
 'department',
 'collection',
 'type',
 'measurements',
 'state_of_the_work',
 'edition_of_the_work',
 'copyright',
 'inscriptions',
 'exhibitions',
 'provenance',
 'find_spot',
 'related_works',
 'former_accession_numbers',
 'fun_fact',
 'digital_description',
 'wall_description',
 'external_resources',
 'citations',
 'catalogue_raisonne',
 'url',
 'alternate_images',
 'creditline',
 'sketchfab_id',
 'sketchfab_url',
 'creators',
 'image_web',
 'image_print',
 'image_full',
 'updated_at']

Alright. I need to drop a bunch of columns from this dataset to and try to keep matches to the Met for a one-to-one analysis (or as close as I can get).

In [251]:
cle_df_small = cle_df[['id', 'accession_number', 'tombstone', 'title', 'creation_date', 'culture', 'technique', 'department', 'collection', 'type', 'creditline']]
cle_df_small.head()

,id,accession_number,tombstone,title,creation_date,culture,technique,department,collection,type,creditline
0,74228,2020.113,"Fishmarket, 1902. Camille Pissarro (French, 18...",Fishmarket,1902,"France, 20th century",oil on canvas,Modern European Painting and Sculpture,Mod Euro - Painting 1800-1960,Painting,Nancy F. and Joseph P. Keithley Collection Gift
1,74539,2015.449,"A Miller's Carriage, c. 1895. Albert-Charles L...",A Miller's Carriage,c. 1895,"France, 19th-20th century",black and white chalk with stumping on beige w...,Drawings,DR - French,Drawing,Bequest of Muriel Butkin
2,74540,2015.451,"Leda and the Swan. Adolphe Yvon (French, 1817â€“...",Leda and the Swan,NaN,"France, 19th century",Charcoal and gouache with touches of pastel,Drawings,DR - French,Drawing,Bequest of Muriel Butkin
3,74551,2018.1059,"The Monks, c. 1802â€“30. FranÃ§ois Marius Granet ...",The Monks,c. 1802â€“30,"France, 18th-19th century","watercolor, pen and brown ink on laid paper",Drawings,DR - French,Drawing,Bequest of Muriel Butkin
4,74553,2018.1060,"Study Sheet, c. 1870â€“80. Alfred Dehodencq (Fre...",Study Sheet,c. 1870â€“80,"France, 19th century","pen and dark brown ink, watercolor with graphi...",Drawings,DR - French,Drawing,Bequest of Muriel Butkin

I want to have a column that specifies which museum the art is currently being housed in. I don't have that for Cleveland.  How can I add a single value into one column?

In [252]:
cle_df_small.insert(11, 'current_location', 'The Cleveland Museum of Art')
cle_df_small.head()

,id,accession_number,tombstone,title,creation_date,culture,technique,department,collection,type,creditline,current_location
0,74228,2020.113,"Fishmarket, 1902. Camille Pissarro (French, 18...",Fishmarket,1902,"France, 20th century",oil on canvas,Modern European Painting and Sculpture,Mod Euro - Painting 1800-1960,Painting,Nancy F. and Joseph P. Keithley Collection Gift,The Cleveland Museum of Art
1,74539,2015.449,"A Miller's Carriage, c. 1895. Albert-Charles L...",A Miller's Carriage,c. 1895,"France, 19th-20th century",black and white chalk with stumping on beige w...,Drawings,DR - French,Drawing,Bequest of Muriel Butkin,The Cleveland Museum of Art
2,74540,2015.451,"Leda and the Swan. Adolphe Yvon (French, 1817â€“...",Leda and the Swan,NaN,"France, 19th century",Charcoal and gouache with touches of pastel,Drawings,DR - French,Drawing,Bequest of Muriel Butkin,The Cleveland Museum of Art
3,74551,2018.1059,"The Monks, c. 1802â€“30. FranÃ§ois Marius Granet ...",The Monks,c. 1802â€“30,"France, 18th-19th century","watercolor, pen and brown ink on laid paper",Drawings,DR - French,Drawing,Bequest of Muriel Butkin,The Cleveland Museum of Art
4,74553,2018.1060,"Study Sheet, c. 1870â€“80. Alfred Dehodencq (Fre...",Study Sheet,c. 1870â€“80,"France, 19th century","pen and dark brown ink, watercolor with graphi...",Drawings,DR - French,Drawing,Bequest of Muriel Butkin,The Cleveland Museum of Art

Okay. Feature 2: clean and operate on the data while combining them. 
I have some similar columns in these two datasets but not the same. I'll need to fix this before I can merge anything together. I'll rename the Met columns to match.

In [253]:
met_df_small.columns = ['accession_number', 'id', 'department', 'accession_year', 'object_name', 'title', 'culture', 'creation_date', 'medium', 'creditline', 'classification', 'current_location']
met_df_small.head()

,accession_number,id,department,accession_year,object_name,title,culture,creation_date,medium,creditline,classification,current_location
0,1979.486.1,1,The American Wing,1979,Coin,One-dollar Liberty Head Coin,NaN,1853,Gold,"Gift of Heinz L. Stoppelmann, 1979",NaN,"Metropolitan Museum of Art, New York, NY"
1,1980.264.5,2,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,NaN,1901,Gold,"Gift of Heinz L. Stoppelmann, 1980",NaN,"Metropolitan Museum of Art, New York, NY"
2,67.265.9,3,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,1909â€“27,Gold,"Gift of C. Ruxton Love Jr., 1967",NaN,"Metropolitan Museum of Art, New York, NY"
3,67.265.10,4,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,1909â€“27,Gold,"Gift of C. Ruxton Love Jr., 1967",NaN,"Metropolitan Museum of Art, New York, NY"
4,67.265.11,5,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,1909â€“27,Gold,"Gift of C. Ruxton Love Jr., 1967",NaN,"Metropolitan Museum of Art, New York, NY"

Feature 2, part 78: Merging the data and calculate new values.
Now I guess it's time to merge the datasets. I'll use concat since there isn't an easy way to combine the info, but it's not my favorite merge method. I'd much rather keep them separate and just compare art types and other info anyway.

In [254]:
combo_df = pd.concat([met_df_small, cle_df_small], axis=0)
combo_df.head()

,accession_number,id,department,accession_year,object_name,title,culture,creation_date,medium,creditline,classification,current_location,tombstone,technique,collection,type
0,1979.486.1,1,The American Wing,1979,Coin,One-dollar Liberty Head Coin,NaN,1853,Gold,"Gift of Heinz L. Stoppelmann, 1979",NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,NaN
1,1980.264.5,2,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,NaN,1901,Gold,"Gift of Heinz L. Stoppelmann, 1980",NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,NaN
2,67.265.9,3,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,1909â€“27,Gold,"Gift of C. Ruxton Love Jr., 1967",NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,NaN
3,67.265.10,4,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,1909â€“27,Gold,"Gift of C. Ruxton Love Jr., 1967",NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,NaN
4,67.265.11,5,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,1909â€“27,Gold,"Gift of C. Ruxton Love Jr., 1967",NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,NaN

In [255]:
combo_df.tail()

,accession_number,id,department,accession_year,object_name,title,culture,creation_date,medium,creditline,classification,current_location,tombstone,technique,collection,type
65026,2016.266.21,290435,Photography,NaN,NaN,Maharaja of Rewa in Prayer,India,1886,NaN,Purchase from the J. H. Wade Fund,NaN,The Cleveland Museum of Art,"Maharaja of Rewa in Prayer, 1886. Raja Deen Da...",albumen print,PH - Misc. 19th Century,Photograph
65027,2016.266.29,292698,Photography,NaN,NaN,Major Martelli's Camp at Mhow,India,1886,NaN,Purchase from the J. H. Wade Fund,NaN,The Cleveland Museum of Art,"Major Martelli's Camp at Mhow, 1886. Raja Deen...",albumen print,PH - Misc. 19th Century,Photograph
65028,2022.256,524144,African Art,NaN,NaN,Itjorholo/ijogolo (married womanâ€™s apron),"Africa, Southern Africa, South Africa, Ndebele...",c. 1935,NaN,Severance and Greta Millikin Purchase Fund,NaN,The Cleveland Museum of Art,"Itjorholo/ijogolo (married womanâ€™s apron), c. ...","Goatskin, grass, glass beads",African Art,Textile
65029,1968.108.a,539459,Indian and Southeast Asian Art,NaN,NaN,Ravana battles the great vulture Jatayu and fe...,"Northwestern India, Rajasthan, Rajput Kingdom ...",1744â€“45,NaN,James Parmelee and Cornelia Blakemore Warner F...,NaN,The Cleveland Museum of Art,Ravana battles the great vulture Jatayu and fe...,"Gum tempera, ink, and gold on paper",Indian Art,Painting
65030,1968.108.b,539460,Indian and Southeast Asian Art,NaN,NaN,Jatayu approaches Rama and Lakshmana who are w...,"Northwestern India, Rajasthan, Rajput Kingdom ...",1744â€“45,NaN,James Parmelee and Cornelia Blakemore Warner F...,NaN,The Cleveland Museum of Art,Jatayu approaches Rama and Lakshmana who are w...,"Gum tempera, ink, and gold on paper",Indian Art,Painting

1st analysis: what is the most common type of art?

In [256]:
combo_df[['type']].mode()

    type
0  Print

Another analysis because I'm curious: What is the most common culture represented between the two museums?

In [257]:
combo_df[['culture']].mode()

    culture
0  American

Saving this dataframe to csv for future usage.

In [258]:
combo_df.to_csv('art_data.csv', encoding='utf-8', index=False)

Time to visualize!