In [3]:
import requests
import pandas as pd
import json

In [13]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/departments')

creating a variable to store the data

In [14]:
art_data = r.json()

In [15]:
df = pd.DataFrame(art_data)

In [16]:
df.head()

                                         departments
0  {'departmentId': 1, 'displayName': 'American D...
1  {'departmentId': 3, 'displayName': 'Ancient Ne...
2  {'departmentId': 4, 'displayName': 'Arms and A...
3  {'departmentId': 5, 'displayName': 'Arts of Af...
4    {'departmentId': 6, 'displayName': 'Asian Art'}

In [17]:
df.describe()

                                              departments
count                                                  19
unique                                                 19
top     {'departmentId': 1, 'displayName': 'American D...
freq                                                    1